<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Shopping Cart</h3>
        </div>
        <div class="panel-body">
            <table class="ui selectable inverted table">
                <tr>
                    <h1 ng-show="quantity == 0">Your Shopping Cart is empty.</h1>
                </tr>
                <tr ng-show="quantity">
                    <th class="col-md-4"></th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
                <tr ng-repeat="mask in masks">
                    <td>
                        <div><img src="{{ mask.image }}" width="100" height="100" /></div>
                        {{ mask.title }}
                    </td>
                    <td>
                        {{ mask.price | currency }}
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="{{ mask.quantity }}" ng-model="mask.quantity" ng-change="update(mask)">
                    </td>
                    <td><a type="button" class="btn btn-danger" ng-click="removeMask(mask)"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td></td>
                    <td>
                        <div>
                            <span ng-show="quantity"><b>Subtotal: ({{ quantity }} Item<span ng-if="quantity">s</span>)</b> {{ subtotal | currency }}</span>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="text-right" ng-show="quantity > 0">
                <a type="button" class="btn btn-primary" href="#/cart">Update <span class="glyphicon glyphicon-pencil" ng-click="update()"></span></a>
                <a type="button" class="btn btn-danger" href="#/cart">Checkout <span class="glyphicon glyphicon-shopping-cart"></span></a>
            </div>
        </div>
    </div>
</div>
