<div class="container">
<form id="signup-form" name="signupForm" ng-submit="signupForm.$valid">

<div class="form-group">
	<label for="First Name">First Name:</label>
	<input type="text" ng-model="signup.firstName" class="form-control" id="first name" placeholder="Enter first name">
</div>
<div class="form-group">
	<label for="Last Name">Last Name:</label>
	<input type="text" ng-model="signup.lastName" class="form-control" id="last name" placeholder="Enter last name">
</div>
<div class="form-group">
	<label for="Phone">Phone:</label>
	<input type="text" ng-model="signup.phone" class="form-control" id="phone" placeholder="(212) 867-5309">
</div>
<div class="form-group">
	<label for="Email">Email Address*:</label>
	<input type="text" ng-model="signup.email" class="form-control" id="email" placeholder="Enter email">
</div>
<div class="form-group">
	<label for="Password">Password*:</label>
	<input type="text" ng-model="signup.password" class="form-control" id="login-password" placeholder="Password">
</div>
<button type="submit" class="btn btn-primary" ng-click="sendSignup(signup)">Submit</button>
<br>
<br>
<p color="red">* = This field is required</p>
</form>
</div>