<!-- <mask ng-repeat="mask in masks">
  <div ui-view></div>
</mask> -->

<!-- <div ng-repeat='mask in masks'>
    <a ui-sref="productsDetail({id: mask._id})">
      <img ng-src="{{mask.image}}">
      <p>{{mask.title}}</p>
      <p>{{mask.price}}</p>
    </a>
</div> -->

<div class="ui basic segment" products>

  <!-- <div class="ui compact menu">
    <div class="ui simple dropdown item">
      Category
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item" data-value="costume">Costume</div>
        <div class="item">Choice 2</div>
        <div class="item">Choice 3</div>
      </div>
    </div>
  </div>

  <div class="ui selection dropdown">
    <input name="category" type="hidden" value="default">
    <i class="dropdown icon"></i>
    <div class="text">Category</div>
    <div class="menu">
        <div class="ui simple dropdown item" data-value="costume">Costume</div>
        <div class="ui simple dropdown item" data-value="burglary">Burglary</div>
        <div class="ui simple dropdown item" data-value="handling liquid nitrogen">Handling Liquid Nitrogen</div>
    </div>
   </div> -->

   <!-- <select class="ui search dropdown" ng-options>
     <option value="">Category</option>
     <a ui-sref='products.category({category: mask.category})'><option value="costume">Costume</option></a>
     <option value="burglary">Burglary</option>
     <option value="armed robbery">Armed Robbery</option>
     <option value="meth making">Meth Making</option>
     <option value="handling liquid nitrogen">Handling Liquid Nitrogen</option>
     <option value="skiing">Skiing</option>
   </select> -->

   <select class="ui search dropdown" ng-model="categoryWatch" ng-options="opt.value as opt.label for opt in options" ng-change="stateChange(categoryWatch)">
     <option value="">Category</option>
     <option value="costume">Costume</option>
     <option value="burglary">Burglary</option>
     <option value="armed robbery">Armed Robbery</option>
     <option value="meth making">Meth Making</option>
     <option value="handling liquid nitrogen">Handling Liquid Nitrogen</option>
     <option value="skiing">Skiing</option>
   </select>

   <a ui-sref="products.category({category: undefined})">
     <div class="ui primary button reset">
      Reset
     </div>
   </a>

</div>



<div ui-view class="ui three column grid">
  <div ng-repeat='mask in masks' class="ui special cards column" masks>
    <!-- <div class="column"> -->
    <div class="card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <div class="ui inverted button"><a ui-sref="productsDetail({id: mask._id})">View Detail</a></div>
            </div>
          </div>
        </div>
        <img ng-src="{{mask.image}}">
      </div>
      <div class="content">
        <a class="header">{{mask.title}}</a>
        <div class="meta">
          <span class="date">{{mask.price}}</span>
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="tag icon"></i>
          {{mask.category}}
        </a>
      </div>
      <div class="extra">
       Rating:
         <div class="ui star rating" data-rating="5" ng-model="rating"></div>
      </div>
    </div>
    <!-- </div> -->
  </div>
</div>

<!-- <pre>
{{masks | json}}
</pre> -->
