<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <
        <a class="active item">Home</a>
        <a class="item">About</a>
        <a class="item">Company</a>
        <a class="item">Careers</a>
        <div class="right item">
          <a class="ui inverted button">Log in</a>
          <a class="ui inverted button">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div>
 


<!-- <div class="ui-container">
    <div class="ui large secondary inverted pointing menu">
        <maskstore-logo></maskstore-logo>
    </div>
    <ul class="ui fluid container">
        <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
            <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
        </li>
    </ul>
    <button ng-show="!user" ui-sref="login" class="ui inverted button">Login</button>
    <button ng-show="!user" ui-sref="login" class="ui inverted button">Sign Up</button>
    <div ng-show="user" class="welcome">
        <span>Welcome, {{ user.email }}!</span>
        <a ng-click="logout()">Logout</a>
    </div>
</div>
 -->


<!-- Following Menu -->
<!-- <div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="active item">Home</a>
    <a class="item">Work</a>
    <a class="item">Company</a>
    <a class="item">Careers</a>
    <div class="right menu">
      <div class="item">
        <a class="ui button">Log in</a>
      </div>
      <div class="item">
        <a class="ui primary button">Sign Up</a>
      </div>
    </div>
  </div>
</div> -->

<!-- Sidebar Menu -->
<!-- <div class="ui vertical inverted sidebar menu">
  <a class="active item">Home</a>
  <a class="item">Work</a>
  <a class="item">Company</a>
  <a class="item">Careers</a>
  <a class="item">Login</a>
  <a class="item">Signup</a>
</div> -->



